{% extends "./base.html" %}
{% block title %}<title> {{page}}</title>{% endblock %}
{% block index %}
    
<table class="table container mt-4 shadow rounded-3 border-5">
    <thead>
        <tr>
          <th scope="col">En no.</th>
          <th scope="col">Name</th>
          <th scope="col">{{ current_datetime|date:"d-m-Y"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            {% for row in data %}
            <tr>
              <td>{{ row.en_no }}</td>
              <td>{{ row.name }}</td>
              <td>{{ row.attended }}</td>
            </tr>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <form method="post" action="{% url 'export_to_excel' %}">
      {% csrf_token %}
      <div class="d-block custom-button mt-3">
          <button type="submit" class="btn btn-primary shadow">Export To Excel</button>
      </div>
  </form>
{% endblock %}