{% extends "./base.html" %}
{% block title %}<title> {{page}}</title>{% endblock %}
{% block index %}
{% load static %}
<!-- <img src="{% static 'img/i.jpg' %}" alt="not"> -->

<section class="d-flex justify-content-center align-items-center vh-90">
    <div class="card shadow custom-div">
        <!-- <input type="button" value="Say hello" onClick="showCamera('Android! Start Camera')" />          -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for message in messages %}
            <div id="center">
                {% if color %}
                <div class="alert alert-{{color}} alert-dismissible fade show" id="msg" role="alert">
                    {% else %}
                    <div class="alert alert-danger alert-dismissible fade show" id="msg" role="alert">
                        {% endif %}
                        <p id="alerttxt"><strong>Message: </strong> {{message}}</p>
                        <button type="button" class="btn-close" id="close-btn" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                    </div>
                </div>
                {% endfor %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enrollment No.</label>
                    <input type="text" class="form-control" name="en_no">
                </div>
                <div class="mb-3">
                    <div class="text-center">
                    <video autoplay="true" id="video-element"></video>
                </div>
                
                <!-- <div id="img-element"></div> -->
                <div class="d-block custom-button">
                    <button type="submit" class="btn btn-primary">Take Attendance</button>
                </div>
        </form>
        <form method="post" action="{% url 'empty_db' %}">
            {% csrf_token %}
            <div class="d-block custom-button mt-3">
                <button type="submit" class="btn btn-danger">Empty Database</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <button class="btn btn-primary" id="capture-btn">take photo</button>
            <button class="btn btn-info" id="reload-btn">reload</button>
        </div> 
    </div>
</section>
{% endblock %}